@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='email'],input[type='password'],input[type="text"],input[type="tel"],textarea,input[type="number"]{
   @apply w-full py-2 px-3 border border-primary rounded-2xl mb-4
}

textarea{
  height: 140px;
}


button.primary{
  background-color: #f5385d;
  @apply text-white rounded-2xl p-2 w-full
}

div.validation{
  @apply rounded-md mt-10
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin:70px auto;
}

.styled-table thead tr {
  background-color: #f97316;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #f97316;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #f97316;
}

.styled-table td{
  color:#f97316;
  font-weight: bold;
}